@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  font-family: "Odibee Sans", cursive;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #006362;
  max-width: 100vw;
  height: 60px;
  padding: 0 0 0 36vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #ffffff;
}
button.reset {
  background-color: #ffffff;
  color: #006362;
  font-size: 18px;
  letter-spacing: 2px;
  width: 100px;
  height: 40px;
  border: none;
  margin-left: 30vw;
}
button.reset:active {
  background-color: #dfdfdf;
}
h4 {
  font-family: "Fira Sans", sans-serif;
  margin-top: 2vh;
  padding: 50px;
  text-align: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15vh;
}
button {
  width: 70px;
  height: 70px;
}
.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  color: #006362;
}
.countValue {
  font-size: 64px;
  text-align: center;
}
.countCaption {
  letter-spacing: 2px;
  text-align: center;
}
.results {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}
.showResults {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh 0;
}
button.showResultsButton {
  background-color: #006362;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 2px;
  width: 140px;
  border: none;
}
button.showResultsButton:active {
  background-color: #004644;
}
.res {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20vh 0 20vh 0;
  color: #006362;
}
.res button {
  color: #006362;
  font-size: 16px;
}
.resUnit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resValue {
  font-size: 32px;
  margin-top: 20px;
  text-align: center;
}
.resCaption {
  text-align: center;
}
.global {
  margin-top: 20vh;
}
h1 {
  font-size: 64px;
  color: #006362;
  text-align: center;
}
.disclaimer {
  letter-spacing: 1px;
  margin: 150px 0 20px 0;
}
