@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  font-family: "Odibee Sans", cursive;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #006362;
  width: 100vw;
  height: 60px;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #ffffff;
}
h4 {
  font-family: "Fira Sans", sans-serif;
  padding: 50px;
  text-align: center;
}
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15vh;
}
button{
  width: 5vw;
  height: 10vh;
}
.count{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  color: #006362;
}
.countValue{
  font-size: 64px;
  text-align: center;
}
.countCaption{
  letter-spacing: 2px;
  text-align: center;
}
